<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <etsgw-page-heading size="xl">
      Privacy notice for the Manage your UK ETS (METS) reporting service
    </etsgw-page-heading>

    <p class="govuk-body">
      This notice sets out how we will use your personal data, and your rights. It is made under Articles 13 and/or 14
      of the UK General Data Protection Regulation (UK GDPR).
    </p>

    <h1 class="govuk-heading-l">Your data</h1>
    <p class="govuk-body">We will process the following personal data:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>First and last name (and middle name if provided)</li>
      <li>Email address (business or personal)</li>
      <li>Contact information (business or personal)</li>
    </ul>

    <h2 class="govuk-heading-m">Purpose</h2>
    <p class="govuk-body">
      The purposes for which we are processing your personal data under Article 6 of the UK GDPR are:
    </p>
    <ul class="govuk-list govuk-list--number">
      <li>
        For processing your UK Emissions Trading Scheme (UK ETS) applications, assessing your UK ETS reports and
        notifications, and allowing us to contact you about them.
      </li>
      <li>
        For research carried out as part of monitoring and evaluation of the UK ETS, by running a representative survey
        of METS account holders and inviting them to take part in qualitative interview research. The purpose of this
        research is to gather information on the experiences and perspectives of METS account holders to support the
        ongoing evaluation of the performance of the UK ETS by the UK ETS Authority.
      </li>
    </ul>

    <h2 class="govuk-heading-m">Legal basis of processing</h2>
    <p class="govuk-body">
      The legal basis for processing your personal data under Article 6 of the UK GDPR for Purpose 1 is:
    </p>
    <div govukInsetText>
      <strong>Legal obligation:</strong> It is necessary to comply with a legal obligation placed on us as the data
      controller(s). Details are outlined in the Greenhouse Gas Emissions Trading Scheme 2020 Order.
    </div>

    <p class="govuk-body">
      The legal basis for processing your personal data under Article 6 of the UK GDPR for Purpose 2 is:
    </p>
    <div govukInsetText>
      <strong>Public task:</strong> processing is necessary for the performance of a task carried out in the exercise of
      official authority vested in the controller under the Environment Act 1995. In the case of research for monitoring
      and evaluating the UK ETS, the public task relates to collecting evidence to create a better evidence base for
      policy decision-making in the Department for Energy Security and Net Zero (DESNZ) and other relevant government
      departments.
    </div>

    <h2 class="govuk-heading-m">Recipients</h2>
    <p class="govuk-body">
      DESNZ is the administrator of the METS service and your personal data will be shared by us with the data
      controllers listed in this privacy notice as well as with Trasys UniSystems, the IT supplier which provides data
      processing and storage service for the administration of METS, and Fordway, the supplier which provides the
      service desk.
    </p>
    <p class="govuk-body">
      For the purpose of evaluation research, your personal data will be shared with CAG Consultants, which has been
      commissioned by DESNZ to conduct this research, along with their subcontractor, GC Insight. DESNZ is the data
      controller of your personal data in this regard, with CAG Consultants and GC Insight the data processors.
    </p>

    <p class="govuk-body">
      Please refer to the CAG Consultants
      <a href="https://cagconsultingltd.com/privacy-policy/">Privacy Notice</a> and the GC Insight
      <a href="https://www.gcinsight.co.uk/media/3aphpyxg/desnz-uk-ets-evaluation-privacy-notice-0525.pdf"
        >Privacy Notice</a
      >
      for further information on how they process data.
    </p>
    <p class="govuk-body">
      As part of our IT infrastructure, your personal data will be stored in the UK on systems provided by our data
      processors - Microsoft and Amazon Web Services. This does not mean we actively share your personal data with these
      entities; rather, they are technical service providers who host infrastructure supporting our IT systems.
    </p>

    <h2 class="govuk-heading-m">Retention</h2>
    <p class="govuk-body">
      Your personal data will be kept by us for a period of 10 years from the closure of the account to which you were
      associated in the UK Emissions Trading Scheme.
    </p>

    <h2 class="govuk-heading-m">Automated decision making</h2>
    <p class="govuk-body">Your personal data will not be subject to automated decision making.</p>

    <h2 class="govuk-heading-m">Your rights</h2>

    <p class="govuk-body">
      You have the right to request information about how your personal data are processed, and to request a copy of
      that personal data.
    </p>
    <p class="govuk-body">
      You have the right to request that any inaccuracies in your personal data are rectified without delay.
    </p>
    <p class="govuk-body">
      You have the right to request that any incomplete personal data are completed, including by means of a
      supplementary statement.
    </p>
    <p class="govuk-body">
      You have the right to request that your personal data are erased if there is no longer a justification for them to
      be processed.
    </p>
    <p class="govuk-body">
      You have the right in certain circumstances (for example, where accuracy is contested) to request that the
      processing of your personal data is restricted.
    </p>
    <p class="govuk-body">
      You have the right to object to the processing of your personal data where it is processed for direct marketing
      purposes.
    </p>

    <h2 class="govuk-heading-m">International transfers</h2>
    <p class="govuk-body">
      Your personal data will not be processed outside the UK and European Economic Area (EEA), or by an international
      organisation.
    </p>
    <p class="govuk-body">
      As your personal data is stored on our IT infrastructure and shared with our data processors Microsoft and Amazon
      Web Services, it may be transferred and stored securely outside the UK and EEA. Where that is the case, it will be
      subject to equivalent legal protection through the use of Model Contract Clauses.
    </p>

    <h2 class="govuk-heading-m">Complaints</h2>
    <p class="govuk-body">
      If you consider that your personal data has been misused or mishandled, you may make a complaint to the
      Information Commissioner, who is an independent regulator. The Information Commissioner can be contacted at:
    </p>
    <div govukInsetText>
      Information Commissioner's Office<br />
      Wycliffe House<br />
      Water Lane<br />
      Wilmslow<br />
      Cheshire<br />
      SK9 5AF<br />
      0303 123 1113<br />
      <a href="https://ico.org.uk/global/contact-us/">https://ico.org.uk/global/contact-us/</a>
    </div>
    <p class="govuk-body">
      Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the
      courts.
    </p>

    <h2 class="govuk-heading-m">Contact details</h2>
    <p class="govuk-body">The UK Emissions Trading Scheme reporting service has 5 data controllers:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>DESNZ</li>
      <li>The Environment Agency (EA)</li>
      <li>The Scottish Environment Protection Agency (SEPA)</li>
      <li>Natural Resources Wales (NRW)</li>
      <li>The Department of Agriculture, Environment and Rural Affairs (DAERA)</li>
    </ul>
    <p class="govuk-body">
      The data controller for your personal data is dependent on the nation in the United Kingdom in which the
      Installation to which you are assigned is located.
    </p>
    <p class="govuk-body">The contact details for each of these data controllers are as follows:</p>

    <h2 class="govuk-heading-m">DESNZ</h2>
    <p class="govuk-body">You can contact the DESNZ Data Protection Officer at:</p>
    <div govukInsetText>
      The Department for Energy Security and Net Zero Data Protection Officer<br />
      The Department for Energy Security and Net Zero<br />
      3-8 Whitehall Place<br />
      London<br />
      SW1A 2AW<br />
      Email: <a href="mailto:dataprotection@energysecurity.gov.uk">dataprotection&#64;energysecurity.gov.uk</a>
    </div>

    <h2 class="govuk-heading-m">Environment Agency</h2>
    <p class="govuk-body">You can contact the Environment Agency Data Protection Officer at:</p>
    <div govukInsetText>
      Data Protection Team<br />
      Environment Agency<br />
      Horizon House<br />
      Deanery Road<br />
      Bristol BS1 5AH<br />
      Email: <a href="mailto:dataprotection@environment-agency.gov.uk">dataprotection&#64;environment-agency.gov.uk</a>
    </div>

    <h2 class="govuk-heading-m">Scottish Environment Protection Agency (SEPA)</h2>
    <p class="govuk-body">You can contact the Scottish Environment Protection Agency Data Protection Officer at:</p>
    <div govukInsetText>
      Alison M. Mackinnon<br />
      Data Protection Officer<br />
      Scottish Environment Protection Agency (SEPA)<br />
      Strathallan House<br />
      Castle Business Park<br />
      Stirling<br />
      FK9 4TZ<br />
      Email: <a href="mailto:dataprotection@sepa.org.uk">dataprotection&#64;sepa.org.uk</a>
    </div>

    <h2 class="govuk-heading-m">Natural Resources Wales</h2>
    <p class="govuk-body">
      You can contact the Natural Resources Wales Data Protection Officer at:
      <a href="mailto:dataprotection@naturalresourceswales.gov.uk">dataprotection&#64;naturalresourceswales.gov.uk</a
      ><br />
      For further details see the
      <a href="https://naturalresources.wales/footer-links/privacy-notice/?lang=en"
        >Natural Resources Wales Privacy Notice</a
      >
    </p>

    <h2 class="govuk-heading-m">Department of Agriculture, Environment and Rural Affairs</h2>
    <p class="govuk-body">
      You can contact the Department of Agriculture, Environment and Rural Affairs Data Protection Officer at:
    </p>
    <div govukInsetText>
      Department of Agriculture, Environment and Rural Affairs<br />
      Jubilee House<br />
      111 Ballykelly Road<br />
      Ballykelly<br />
      Limavady<br />
      BT49 9HP<br />
      DAERA Data Protection Officer (DPO)<br />
      Email: <a href="mailto:dataprotectionofficer@daera-ni.gov.uk">dataprotectionofficer&#64;daera-ni.gov.uk</a>
    </div>

    <etsgw-back-to-top></etsgw-back-to-top>
  </div>
</div>
