<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <etsgw-page-heading size="xl">Contact the UK Emissions Trading Scheme reporting helpdesk</etsgw-page-heading>

    <p class="govuk-body">
      If you need help accessing or using the UK Emissions Trading Scheme reporting service, please contact your
      regulator.
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Environment Agency (for installations):
        <a govukLink href="mailto: ethelp@environment-agency.gov.uk">ethelp&#64;environment-agency.gov.uk</a>
      </li>
      <li>
        Environment Agency (UK ETS and CORSIA):
        <a govukLink href="mailto: etaviationhelp@environment-agency.gov.uk"
          >etaviationhelp&#64;environment-agency.gov.uk</a
        >
      </li>
      <li>
        Environment Agency (for maritime):
        <a govukLink href="mailto: etmaritimehelp@environment-agency.gov.uk"
          >etmaritimehelp&#64;environment-agency.gov.uk</a
        >
      </li>
      <li>
        Scottish Environment Protection Agency (SEPA):
        <a govukLink href="mailto: emission.trading@sepa.org.uk">emission.trading&#64;sepa.org.uk</a>
      </li>
      <li>
        Northern Ireland Environment Agency (NIEA):
        <a govukLink href="mailto: emissions.trading@daera-ni.gov.uk">emissions.trading&#64;daera-ni.gov.uk</a>
      </li>
      <li>
        Natural Resources Wales (NRW): <a govukLink href="mailto: GHGHelp@naturalresourceswales.gov.uk">GHGHelp&#64;naturalresourceswales.gov.uk</a>
      </li>
      <li>
        Offshore Petroleum Regulator for Environment & Decommissioning (OPRED):
        <a govukLink href="mailto: opred@energysecurity.gov.uk">opred&#64;energysecurity.gov.uk</a>
      </li>
    </ul>
  </div>
</div>
